/**
!/codeStyles
!/codeStyles/codeStyleConfig.xml
!/codeStyles/Project.xml
!/dictionaries
!/dictionaries/project.xml
!/fileTemplates
!/fileTemplates/**
!/inspectionProfiles
!/inspectionProfiles/Project_Default.xml
!/runConfigurations
!/runConfigurations/*.xml
!/scopes
!/scopes/*.xml
!/*.iml

!/.gitignore

!/externalDependencies.xml
!/misc.xml
!/modules.xml
!/php.xml
!/phpunit.xml
!/remote-mappings.xml
